<div class="flex min-h-screen items-center justify-center bg-gray-50 p-4">
  <div class="w-full max-w-119 rounded-lg bg-white p-8 shadow-lg">
    <h2
      class="mb-6 border-b-4 border-gray-300 pb-2 text-center text-3xl font-bold uppercase tracking-widest text-gray-800"
    >
      LaElsi
    </h2>

    @if (errorMessage) {
      <div
        class="mb-6 rounded-md bg-red-100 p-3 text-center text-sm font-medium text-red-700 border border-red-200"
      >
        {{ errorMessage }}
      </div>
    }

    <form
      [formGroup]="formLoginAdmin"
      novalidate
      (ngSubmit)="enviar($event)"
      class="space-y-4"
    >
      <div>
        <label
          for="username"
          class="mb-2 block text-sm font-medium text-gray-700"
        >
          Usuario
        </label>

        <input
          type="text"
          id="username"
          formControlName="username"
          class="block w-full rounded-md border p-2.5 text-gray-900 shadow-sm focus:outline-none focus:ring-2 sm:text-sm"
          [class.border-red-500]="
            hasErrors('username', 'required') ||
            hasErrors('username', 'pattern')
          "
          [class.focus:border-red-500]="
            hasErrors('username', 'required') ||
            hasErrors('username', 'pattern')
          "
          [class.focus:ring-red-500]="
            hasErrors('username', 'required') ||
            hasErrors('username', 'pattern')
          "
          [class.border-gray-300]="
            !hasErrors('username', 'required') &&
            !hasErrors('username', 'pattern')
          "
          [class.focus:border-[#049A8F]]="
            !hasErrors('username', 'required') &&
            !hasErrors('username', 'pattern')
          "
          [class.focus:ring-[#049A8F]]="
            !hasErrors('username', 'required') &&
            !hasErrors('username', 'pattern')
          "
        />

        <div class="mt-1 min-h-5 text-sm">
          @if (hasErrors("username", "required")) {
            <div class="text-red-600">El nombre de usuario es obligatorio.</div>
          } @else if (hasErrors("username", "pattern")) {
            <div class="text-red-600">
              El formato del nombre de usuario es inválido.
            </div>
          }
        </div>
      </div>

      <div>
        <label
          for="password"
          class="mb-2 block text-sm font-medium text-gray-700"
        >
          Contraseña
        </label>

        <div class="relative">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="password"
            formControlName="password"
            (input)="onPasswordInput()"
            class="block w-full rounded-md border p-2.5 pr-10 text-gray-900 shadow-sm focus:outline-none focus:ring-2 sm:text-sm"
            [class.border-red-500]="hasErrors('password', 'required')"
            [class.focus:border-red-500]="hasErrors('password', 'required')"
            [class.focus:ring-red-500]="hasErrors('password', 'required')"
            [class.border-gray-300]="!hasErrors('password', 'required')"
            [class.focus:border-[#049A8F]]="!hasErrors('password', 'required')"
            [class.focus:ring-[#049A8F]]="!hasErrors('password', 'required')"
          />

          @if (showEyeIcon) {
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 focus:outline-none"
            >
              @if (passwordVisible) {
                <ng-icon name="bootstrapEye" class="text-xl"></ng-icon>
              } @else {
                <ng-icon name="bootstrapEyeSlash" class="text-xl"></ng-icon>
              }
            </button>
          }
        </div>

        <div class="mt-1 min-h-5 text-sm">
          @if (hasErrors("password", "required")) {
            <div class="text-red-600">La contraseña es obligatoria.</div>
          }
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="loading"
          class="cursor-pointer flex w-full justify-center rounded-md bg-[#037971] px-4 py-2.5 text-sm font-semibold text-white shadow-sm transition-colors hover:bg-[#049A8F] focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-[#037971] disabled:cursor-not-allowed disabled:bg-gray-400 items-center"
        >
          @if (loading) {
            <ng-icon
              name="bootstrapArrowClockwise"
              class="animate-spin text-xl mr-2"
            ></ng-icon>
          }

          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>
</div>
