<div class="max-w-5xl mx-auto">
  <div class="mb-6 flex items-center justify-between">
    <div>
      <h1 class="text-2xl font-bold text-[#3d4494]">
        {{ isEditMode() ? "Editar Producto" : "Nuevo Producto" }}
      </h1>
    </div>

    <button
      (click)="goBack()"
      class="cursor-pointer inline-flex items-center gap-2 rounded-lg bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 transition-colors"
    >
      <ng-icon name="bootstrapArrowLeft" class="text-lg"></ng-icon>
      Volver
    </button>
  </div>

  <div
    class="bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden"
  >
    <form [formGroup]="formProduct" (ngSubmit)="onSubmit()" class="p-6 md:p-8">
      <div class="grid grid-cols-1 md:grid-cols-6 gap-x-6 gap-y-4">
        <div class="md:col-span-6">
          <label
            for="name"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Nombre del Producto <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="name"
            maxlength="50"
            class="block w-full rounded-lg border-gray-300 border p-2.5 text-gray-900 shadow-sm sm:text-sm"
            placeholder="Ej: Auriculares Bluetooth Sony..."
          />
          <div class="flex justify-between items-start mt-1">
            <div class="text-xs text-red-500 min-h-5">
              @if (formUtils.isValidField(formProduct, "name")) {
                <span>{{ formUtils.getFieldError(formProduct, "name") }}</span>
              }
            </div>
            <div class="text-xs text-gray-600">
              {{ formProduct.get("name")?.value?.length || 0 }} / 50
            </div>
          </div>
        </div>

        <div class="md:col-span-6">
          <label
            for="description"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Descripción <span class="text-red-500">*</span>
          </label>
          <textarea
            id="description"
            name="description"
            formControlName="description"
            rows="5"
            maxlength="1000"
            class="block w-full rounded-lg border-gray-300 border p-2.5 text-gray-900 shadow-sm sm:text-sm"
            placeholder="Describe las características principales..."
          ></textarea>
          <div class="mt-1 flex justify-between text-xs text-gray-600">
            <div class="text-red-600">
              @if (formUtils.isValidField(formProduct, "description")) {
                <span>{{
                  formUtils.getFieldError(formProduct, "description")
                }}</span>
              }
            </div>
            <span
              >{{ formProduct.get("description")?.value?.length || 0 }} /
              1000</span
            >
          </div>
        </div>

        <div class="md:col-span-2">
          <label
            for="brand"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Marca <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="brand"
            name="brand"
            formControlName="brand"
            class="block w-full rounded-lg border-gray-300 border p-2.5 text-gray-900 shadow-sm sm:text-sm"
            placeholder="Ej: Samsung"
          />
          <div class="mt-1 min-h-5 text-xs text-red-600">
            @if (formUtils.isValidField(formProduct, "brand")) {
              <span>{{ formUtils.getFieldError(formProduct, "brand") }}</span>
            }
          </div>
        </div>

        <div
          class="md:col-span-2 relative"
          (clickOutside)="showCategoryMenu.set(false)"
        >
          <label
            for="category"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Categoría <span class="text-red-500">*</span>
          </label>

          <button
            type="button"
            id="category"
            (click)="toggleCategoryMenu()"
            class="relative w-full cursor-pointer bg-white rounded-lg border border-gray-300 py-2.5 pl-3 pr-10 text-left shadow-sm focus:outline-none focus:border-gray-900 focus:ring-1 focus:ring-gray-900 sm:text-sm"
          >
            <span class="block truncate">
              @if (formProduct.get("category")?.value; as cat) {
                {{ cat.name }}
              } @else {
                <span class="text-gray-500">Seleccione una categoría</span>
              }
            </span>
            <span
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
            >
              <ng-icon
                name="bootstrapChevronDown"
                class="text-sm text-gray-400 transition-transform duration-200"
                [class.rotate-180]="showCategoryMenu()"
              ></ng-icon>
            </span>
          </button>

          @if (showCategoryMenu()) {
            <div
              class="absolute z-20 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
            >
              @for (cat of categories(); track cat.id) {
                <div
                  (click)="selectCategory(cat)"
                  class="relative cursor-pointer select-none py-2 pl-3 pr-9 text-gray-900 hover:bg-gray-100"
                >
                  <span
                    class="block truncate font-normal"
                    [class.font-semibold]="
                      formProduct.get('category')?.value?.name === cat.name
                    "
                  >
                    {{ cat.name }}
                  </span>
                  @if (formProduct.get("category")?.value?.name === cat.name) {
                    <span
                      class="absolute inset-y-0 right-0 flex items-center pr-4 text-gray-900"
                    >
                      <ng-icon
                        name="bootstrapCheckLg"
                        class="text-xl"
                      ></ng-icon>
                    </span>
                  }
                </div>
              } @empty {
                <div class="py-2 px-3 text-gray-500 text-sm">
                  No hay categorías cargadas.
                </div>
              }
            </div>
          }
          <div class="mt-1 min-h-5 text-xs text-red-600">
            @if (formUtils.isValidField(formProduct, "category")) {
              <span>{{
                formUtils.getFieldError(formProduct, "category")
              }}</span>
            }
          </div>
        </div>

        <div
          class="md:col-span-2 relative"
          (clickOutside)="showStateMenu.set(false)"
        >
          <label
            for="state"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Estado <span class="text-red-500">*</span>
          </label>
          <button
            type="button"
            id="state"
            (click)="toggleStateMenu()"
            class="relative w-full cursor-pointer bg-white rounded-lg border border-gray-300 py-2.5 pl-3 pr-10 text-left shadow-sm focus:outline-none focus:border-gray-900 focus:ring-1 focus:ring-gray-900 sm:text-sm"
          >
            <span class="flex items-center gap-2">
              <span
                class="h-2.5 w-2.5 rounded-full transition-colors"
                [class]="
                  formProduct.get('state')?.value === 'Activo'
                    ? 'bg-green-500'
                    : 'bg-red-500'
                "
              ></span>
              <span class="block truncate">{{
                formProduct.get("state")?.value
              }}</span>
            </span>
            <span
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
            >
              <ng-icon
                name="bootstrapChevronDown"
                class="text-gray-400 transition-transform duration-200"
                [class.rotate-180]="showStateMenu()"
              ></ng-icon>
            </span>
          </button>

          @if (showStateMenu()) {
            <ul
              class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
            >
              @for (option of ["Activo", "Inactivo"]; track option) {
                <li
                  (click)="selectState(option)"
                  class="relative cursor-pointer select-none py-2 pl-3 pr-9 text-gray-900 hover:bg-gray-50"
                >
                  <div class="flex items-center">
                    <span
                      class="h-2.5 w-2.5 rounded-full mr-2"
                      [class]="
                        option === 'Activo' ? 'bg-green-500' : 'bg-red-500'
                      "
                    ></span>
                    <span
                      [class.font-semibold]="
                        formProduct.get('state')?.value === option
                      "
                    >
                      {{ option }}
                    </span>
                  </div>
                  @if (formProduct.get("state")?.value === option) {
                    <span
                      class="absolute inset-y-0 right-0 flex items-center pr-4"
                    >
                      <ng-icon
                        name="bootstrapCheckLg"
                        class="text-lg"
                      ></ng-icon>
                    </span>
                  }
                </li>
              }
            </ul>
          }
          <div class="mt-1 min-h-5 text-xs text-red-600">
            @if (formUtils.isValidField(formProduct, "state")) {
              <span>{{ formUtils.getFieldError(formProduct, "state") }}</span>
            }
          </div>
        </div>

        <div class="md:col-span-2">
          <label
            for="price"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Precio ($) <span class="text-red-500">*</span>
          </label>
          <div class="relative rounded-md shadow-sm">
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <span class="text-gray-500 sm:text-sm">$</span>
            </div>
            <input
              type="number"
              id="price"
              name="price"
              formControlName="price"
              placeholder="0"
              min="0"
              inputmode="decimal"
              appNumericInput
              class="block w-full rounded-lg border-gray-300 border pl-7 p-2.5 text-gray-900 shadow-sm sm:text-sm"
            />
          </div>
          <div class="mt-1 min-h-5 text-xs text-red-600">
            @if (formUtils.isValidField(formProduct, "price")) {
              <span>{{ formUtils.getFieldError(formProduct, "price") }}</span>
            }
          </div>
        </div>

        <div class="md:col-span-2">
          <label
            for="stock"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Stock <span class="text-red-500">*</span>
          </label>
          <input
            type="number"
            id="stock"
            name="stock"
            formControlName="stock"
            placeholder="0"
            min="0"
            inputmode="numeric"
            appNumericInput
            class="block w-full rounded-lg border-gray-300 border p-2.5 text-gray-900 shadow-sm sm:text-sm"
          />
          <div class="mt-1 min-h-5 text-xs text-red-600">
            @if (formUtils.isValidField(formProduct, "stock")) {
              <span>{{ formUtils.getFieldError(formProduct, "stock") }}</span>
            }
          </div>
        </div>

        <div class="md:col-span-2">
          <label
            for="totalSold"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Cantidad Vendida <span class="text-red-500">*</span>
          </label>
          <input
            type="number"
            id="totalSold"
            name="totalSold"
            formControlName="totalSold"
            placeholder="0"
            min="0"
            inputmode="numeric"
            appNumericInput
            class="block w-full rounded-lg border-gray-300 border p-2.5 text-gray-900 shadow-sm sm:text-sm"
          />
          <div class="mt-1 min-h-5 text-xs text-red-600">
            @if (formUtils.isValidField(formProduct, "totalSold")) {
              <span>{{
                formUtils.getFieldError(formProduct, "totalSold")
              }}</span>
            }
          </div>
        </div>

        <div class="md:col-span-6 pt-4 border-t border-gray-100">
          <app-photo-manager [initialPhotos]="initialPhotos()" />
        </div>
      </div>

      @if (isEditMode()) {
        <app-audit-info
          [createdAt]="formProduct.get('createdAt')?.value"
          [updatedAt]="formProduct.get('updatedAt')?.value"
          [deletedAt]="formProduct.get('deletedAt')?.value"
        />
      }

      <div
        class="mt-4 pt-4 flex items-center justify-end gap-x-4 border-t border-gray-100"
      >
        <button
          type="button"
          (click)="goBack()"
          class="cursor-pointer rounded-md bg-white px-4 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 transition-colors"
        >
          Cancelar
        </button>

        <button
          type="submit"
          [disabled]="formProduct.invalid || !hasRealChanges"
          class="cursor-pointer rounded-md bg-[#3d4494] px-6 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#2a2f63] focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-[#3d4494] disabled:bg-gray-300 disabled:cursor-not-allowed transition-colors"
        >
          {{ isEditMode() ? "Guardar Cambios" : "Crear Producto" }}
        </button>
      </div>
    </form>
  </div>
</div>
