# --- Dependencias ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Variables de Entorno ---
.env

# --- Builds y Salidas de Compilación (Aplica a BE y FE) ---
dist/
build/
out/
tmp/
out-tsc/
bazel-out/
coverage/
# Archivos intermedios de NestJS/TS
tsconfig.build.tsbuildinfo

# --- Frameworks Específicos (Angular, Sass, etc.) ---
.angular/cache
.sass-cache/
connect.lock
typings/
libpeerconnection.log
testem.log

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- IDEs y Editores (General) ---
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# --- Visual Studio Code ---
# Ignorar todo dentro de .vscode por defecto...
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Ignorar historial local y extensiones empaquetadas
.history/
*.vsix