<div class="animate-fadeIn container mx-auto p-4">
  <header class="mb-4 border-b-2 border-[#EA6C6C] pb-4">
    <h1 class="text-3xl font-black uppercase text-gray-900">
      Sección:
      <span class="text-[#EA6C6C]">{{ category()?.name }}</span>
    </h1>
  </header>

  <!-- Componente de Filtros -->
  <section aria-label="Filtros de búsqueda">
    <app-products-filter
      [(priceOrder)]="priceOrder"
      [(brandFilter)]="brandFilter"
      [(popularityOrder)]="popularityOrder"
      [brands]="availableBrands()"
    />
  </section>

  <!-- Grilla de Productos -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-6"
  >
    @for (product of productsFiltered(); track product.id) {
      <app-product-card [product]="product" />
    } @empty {
      <div class="col-span-full text-center py-12">
        <p class="text-gray-500 text-lg">
          No hay productos que coincidan con tus filtros.
        </p>
      </div>
    }
  </div>
</div>
