<div
  class="md:overflow-hidden md:rounded-lg md:border md:border-gray-200 md:shadow-md md:bg-white"
>
  <div class="overflow-x-auto">
    <table class="w-full border-collapse text-left text-sm text-gray-500">
      <thead class="hidden bg-[#3d4494] text-white md:table-header-group">
        <tr>
          <th class="px-6 py-4 font-semibold uppercase tracking-wider w-50">
            Nombre
          </th>

          <th class="px-6 py-4 font-semibold uppercase tracking-wider">
            Descripción
          </th>

          <th
            class="px-6 py-4 text-center font-semibold uppercase tracking-wider w-30 whitespace-nowrap"
          >
            Productos
          </th>
          <th
            class="px-6 py-4 font-semibold uppercase tracking-wider w-30 whitespace-nowrap"
          >
            Estado
          </th>
          <th
            class="px-6 py-4 text-center font-semibold uppercase tracking-wider w-30 whitespace-nowrap"
          >
            Acciones
          </th>
        </tr>
      </thead>

      <tbody
        class="md:divide-y md:divide-gray-100 md:border-t md:border-gray-100"
      >
        @for (category of categories(); track category.name) {
          <tr
            class="block mb-4 bg-white rounded-lg border border-gray-200 shadow-sm md:table-row md:mb-0 md:bg-transparent md:rounded-none md:shadow-none md:border-0 hover:bg-gray-50 transition-colors"
          >
            <td
              class="block px-6 py-4 font-medium text-gray-900 md:table-cell align-top"
            >
              <span class="font-bold text-[#3d4494] md:hidden block mb-1"
                >Nombre:</span
              >
              <div
                class="w-full whitespace-normal wrap-break-word md:truncate md:w-50"
                title="{{ category.name }}"
              >
                {{ category.name }}
              </div>
            </td>

            <td class="block px-6 py-4 text-gray-600 md:table-cell align-top">
              <span class="font-bold text-[#3d4494] md:hidden block mb-1"
                >Descripción:</span
              >
              <div
                class="line-clamp-2 md:line-clamp-3 whitespace-normal wrap-break-words"
                title="{{ category.description }}"
              >
                {{ category.description }}
              </div>
            </td>

            <td
              class="block px-6 py-4 md:table-cell text-left md:text-center align-middle"
            >
              <span class="font-bold text-[#3d4494] md:hidden inline-block mr-2"
                >Productos:</span
              >

              <button
                (click)="
                  (category.products?.length || 0) > 0
                    ? viewProducts(category)
                    : null
                "
                [disabled]="(category.products?.length || 0) === 0"
                class="inline-flex items-center gap-1 rounded-full px-3 py-1 text-xs font-medium transition-all duration-200"
                [class.bg-indigo-100]="(category.products?.length || 0) > 0"
                [class.text-indigo-700]="(category.products?.length || 0) > 0"
                [class.hover:bg-indigo-200]="
                  (category.products?.length || 0) > 0
                "
                [class.cursor-pointer]="(category.products?.length || 0) > 0"
                [class.bg-gray-100]="(category.products?.length || 0) === 0"
                [class.text-gray-400]="(category.products?.length || 0) === 0"
                [class.cursor-default]="(category.products?.length || 0) === 0"
                title="Ver lista de productos"
              >
                <span class="font-bold">{{
                  category.products?.length || 0
                }}</span>
                @if ((category.products?.length || 0) > 0) {
                  <span>Ver</span>
                }
              </button>
            </td>

            <td class="block px-6 py-4 md:table-cell align-middle">
              <span class="font-bold text-[#3d4494] md:hidden inline-block mr-2"
                >Estado:</span
              >
              <span
                class="inline-flex rounded-full px-2 text-xs font-semibold leading-5"
                [class.bg-green-100]="category.state === 'Activo'"
                [class.text-green-800]="category.state === 'Activo'"
                [class.bg-red-100]="category.state === 'Inactivo'"
                [class.text-red-800]="category.state === 'Inactivo'"
              >
                {{ category.state }}
              </span>
            </td>

            <td class="block px-6 py-4 md:table-cell align-middle">
              <span class="font-bold text-[#3d4494] md:hidden block mb-2"
                >Acciones:</span
              >
              <div class="flex justify-start md:justify-center gap-4">
                <button
                  (click)="onEdit.emit(category)"
                  class="text-blue-600 hover:text-blue-900"
                  title="Editar"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                    />
                  </svg>
                </button>
                <button
                  (click)="onDelete.emit(category)"
                  class="text-red-600 hover:text-red-900"
                  title="Eliminar"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                    />
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td
              colspan="5"
              class="py-12 text-center bg-white rounded-lg md:rounded-none"
            >
              <div
                class="flex flex-col items-center justify-center text-gray-400"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-10 mb-2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                  />
                </svg>
                <p class="text-base font-medium text-gray-500">
                  No se encontraron resultados
                </p>
                <p class="text-sm">Intenta ajustar tu búsqueda o filtros.</p>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
