<div class="container mx-auto p-6">
  @if (product) {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      
      <div class="flex flex-col gap-8">
        <div class="flex flex-col md:flex-row gap-4">
          
          <div class="flex md:flex-col items-center gap-2 order-2 md:order-1">
            
            <button (click)="prevThumbnails()" 
                    [disabled]="thumbnailIndex === 0"
                    class="disabled:opacity-20 text-gray-400 hover:text-[#f4abac] transition-colors p-1">
              <ng-icon name="bootstrapChevronUp" class="cursor-pointer text-xl md:text-2xl rotate-90 md:rotate-0"></ng-icon>
            </button>

            <div class="flex md:flex-col gap-3 overflow-hidden">
              @for (photo of product.photos.slice(thumbnailIndex, thumbnailIndex + 5); track photo.id) {
                <div (click)="selectedPhotoUrl = buildUrl(photo.fileName)"
                     (mouseover)="selectedPhotoUrl = buildUrl(photo.fileName)"
                     class="w-16 h-16 md:w-20 md:h-20 shrink-0 rounded-lg overflow-hidden cursor-pointer border-2 transition-all duration-300"
                     [class.border-[#f4abac]]="selectedPhotoUrl === buildUrl(photo.fileName)"
                     [class.border-gray-200]="selectedPhotoUrl !== buildUrl(photo.fileName)">
                  <img [src]="buildUrl(photo.fileName)" class="w-full h-full object-cover" />
                </div>
              }
            </div>

            <button (click)="nextThumbnails()" 
                    [disabled]="thumbnailIndex + 5 >= product.photos.length"
                    class="disabled:opacity-20 text-gray-400 hover:text-[#f4abac] transition-colors p-1">
              <ng-icon name="bootstrapChevronDown" class="cursor-pointer text-xl md:text-2xl rotate-90 md:rotate-0"></ng-icon>
            </button>
          </div>

          <div class="relative group flex-1 order-1 md:order-2 rounded-2xl overflow-hidden shadow-xl bg-gray-100 border border-gray-200">
            <img [src]="selectedPhotoUrl" 
                 [alt]="product.name" 
                 class="w-full h-100 md:h-125 object-contain transition-all duration-500" />
            
            <button (click)="prevPhoto()" 
                    class="absolute left-4 top-1/2 -translate-y-1/2 z-10
                          flex items-center justify-center w-12 h-12 
                          bg-white/80 backdrop-blur-sm text-gray-800 
                          rounded-full shadow-md cursor-pointer
                          opacity-0 group-hover:opacity-100 transition-all duration-300
                          hover:bg-[#f4abac] hover:text-white">
              <ng-icon name="bootstrapChevronLeft" class="text-2xl"></ng-icon>
            </button>
            
            <button (click)="nextPhoto()" 
              class="absolute right-4 top-1/2 -translate-y-1/2 z-10
                          flex items-center justify-center w-12 h-12 
                          bg-white/80 backdrop-blur-sm text-gray-800 
                          rounded-full shadow-md cursor-pointer
                          opacity-0 group-hover:opacity-100 transition-all duration-300
                          hover:bg-[#f4abac] hover:text-white">
              <ng-icon name="bootstrapChevronRight" class="text-2xl"></ng-icon>
            </button>
          </div>
        </div>

        <div class="border-t pt-6">
          <h3 class="text-lg font-bold text-gray-900 mb-3 uppercase tracking-tight">Descripción</h3>
          <p class="text-gray-600 leading-relaxed">{{ product.description }}</p>
        </div>
      </div>

      <div class="flex flex-col">
        <nav class="text-sm text-gray-400 mb-2 uppercase tracking-widest font-medium">{{ product.category.name }}</nav>
        <h1 class="text-4xl font-black text-gray-900 mb-2 tracking-tight">{{ product.name }}</h1>

        <div class="flex items-center gap-3 mb-6">
          <span class="px-3 py-1 bg-gray-100 text-gray-600 rounded-full text-xs font-semibold uppercase">Marca: {{ product.brand }}</span>
          @if (product.total_sold >= 10) {
            <span class="text-xs font-bold text-orange-600 bg-orange-50 px-2 py-1 rounded border border-orange-100 flex items-center gap-1">
              <ng-icon name="bootstrapLightningFill" class="text-sm"></ng-icon>
              +{{ (product.total_sold / 10 | number:'1.0-0') + '0' }} ventas
            </span>
          }
        </div>

        <div class="mb-8">
          <span class="text-4xl font-bold text-gray-900">{{ getProductPrice() | currency: getProductCurrency() : "symbol" : "1.0-0" }}</span>
        </div>

        <div class="mb-6">
          <div [class]="product.stock > 0 ? 'bg-green-50 text-green-700 border-green-200' : 'bg-red-50 text-red-700 border-red-200'"
               class="inline-flex items-center gap-2 px-4 py-2 border rounded-lg text-sm font-bold">
            {{ product.stock > 0 ? ' Stock Disponible: ' + product.stock + ' unidades' : 'Agotado temporalmente' }}
          </div>
        </div>

        <button (click)="addToCart()"
                [disabled]="product.stock <= 0"
                class="w-full py-5 rounded-xl font-black text-lg text-white transition-all transform active:scale-95 disabled:bg-gray-300 bg-gray-900 hover:bg-[#f4abac] shadow-lg cursor-pointer flex items-center justify-center gap-2">
          <ng-icon name="bootstrapCartPlusFill" class="text-2xl" *ngIf="product.stock > 0"></ng-icon>
          {{ product.stock > 0 ? "AÑADIR AL CARRITO" : "SIN STOCK" }}
        </button>

        <div class="mt-6 space-y-4 border-t pt-6">
          <div class="flex items-center gap-3  text-blue-500  text-sm font-medium">
            <ng-icon name="bootstrapCheckLg" class="text-xl"></ng-icon>
            <span>Envío rápido a través de La Elsi</span>
          </div>
          <div class="flex items-center gap-3  text-blue-500 text-sm font-medium">
            <ng-icon name="bootstrapShieldCheck" class="text-xl"></ng-icon>
            <span>Compra protegida y garantizada</span>
          </div>
        </div>
      </div>
    </div>
  }
</div>