<td
  [attr.colspan]="colspan()"
  class="px-6 py-12 text-center bg-white lg:rounded-b-lg"
>
  <div class="flex flex-col items-center justify-center">
    @if (isFilterActive()) {
      <ng-icon
        name="bootstrapSearch"
        class="text-3xl text-gray-400 mb-2"
      ></ng-icon>
      <p class="text-gray-500">
        {{ searchMessage() }}
      </p>
    } @else {
      <ng-icon
        name="bootstrapInbox"
        class="text-3xl text-gray-300 mb-2"
      ></ng-icon>
      <p class="text-gray-500">
        {{ emptyMessage() }}
      </p>
    }
  </div>
</td>
