<a
  [routerLink]="['/product', product().id]"
  class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300 border border-gray-100 flex flex-col h-full"
>
  <div class="relative w-full aspect-[4/3] bg-gray-50 overflow-hidden">
    @if (product().photos && product().photos.length > 0) {
      <img
        class="h-full w-full object-contain"
        [src]="getImageUrl(mainPhoto()?.fileName)"
        [alt]="product().name"
      />
    }
    <div
      class="absolute top-2 right-2 bg-blue-600 text-white text-xs font-bold px-2 py-1 rounded"
    >
      NUEVO
    </div>
  </div>

  <div class="p-4 flex flex-col grow">
    <h3 class="text-lg font-semibold text-gray-800 truncate">
      {{ product().name }}
    </h3>
    <p class="text-gray-500 text-sm mb-4 line-clamp-2">
      {{ product().brand }}
    </p>

    <div class="flex items-center justify-between">
      <span class="text-xl font-bold text-gray-900">{{
        getProductPrice() | currency: getProductCurrency() : "symbol" : "1.0-0"
      }}</span>
      <button
        class="cursor-pointer bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-lg text-sm font-medium transition-colors"
      >
        ver más
      </button>
    </div>
  </div></a
>
