<header
  class="h-16 bg-white shadow-sm border-b flex items-center justify-between px-4 z-20 shrink-0"
>
  <div class="flex items-center gap-2">
    <button
      (click)="toggleMobileMenu.emit()"
      class="cursor-pointer lg:hidden h-10 w-10 rounded-lg hover:bg-gray-100 text-gray-600 flex items-center justify-center transition-colors"
      aria-label="Abrir menú"
    >
      <ng-icon name="bootstrapList" class="text-2xl"></ng-icon>
    </button>

    <button
      (click)="toggleSidebar.emit()"
      class="hidden lg:flex h-10 w-10 cursor-pointer rounded-lg hover:bg-gray-100 text-gray-600 items-center justify-center transition-colors"
      aria-label="Colapsar menú lateral"
    >
      <ng-icon name="bootstrapList" class="text-2xl"></ng-icon>
    </button>
  </div>

  <div class="flex items-center gap-4">
    <a
      routerLink="/"
      class="group cursor-pointer flex items-center gap-3 pl-1 pr-4 py-1 rounded-full border border-gray-200 bg-white/5 hover:bg-gray-100 transition-all focus:outline-none focus:ring-2 focus:ring-indigo-500"
      title="Ir a la tienda pública"
    >
      <div
        class="h-8 w-8 rounded-full bg-indigo-50 border border-indigo-100 flex items-center justify-center text-indigo-600 group-hover:bg-indigo-100 transition-colors"
      >
        <ng-icon name="bootstrapShop" class="text-lg"></ng-icon>
      </div>

      <span class="text-sm font-medium text-gray-600"> Ver Tienda </span>
    </a>

    <div class="relative" (clickOutside)="showUserMenu.set(false)">
      <button
        (click)="toggleUserMenu()"
        class="group cursor-pointer flex items-center gap-3 pl-1 pr-4 py-1 rounded-full border border-gray-200 bg-white/5 hover:bg-gray-100 transition-all focus:outline-none focus:ring-2 focus:ring-indigo-500"
      >
        <app-user-avatar
          size="xs"
          [photo]="currentUser()?.photo"
          [name]="currentUser()?.name || ''"
          [lastName]="currentUser()?.lastName || ''"
        />

        <div class="flex items-center gap-2">
          <span class="text-sm font-medium max-w-25 text-gray-600 truncate">
            {{ currentUser()?.name }}
          </span>
          <ng-icon
            name="bootstrapChevronDown"
            class="text-xs text-gray-400 transition-transform duration-200 group-hover:text-gray-600"
            [class.rotate-180]="showUserMenu()"
          ></ng-icon>
        </div>
      </button>

      @if (showUserMenu()) {
        <div
          class="absolute right-0 mt-2 w-48 bg-white rounded-xl shadow-2xl ring-1 ring-black z-50 animate-in fade-in slide-in-from-top-1 origin-top-right border border-black/5 overflow-hidden"
        >
          <a
            routerLink="/admin/view-profile"
            (click)="showUserMenu.set(false)"
            class="flex items-center gap-3 px-4 pt-3 pb-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors"
          >
            <ng-icon name="bootstrapPerson" class="text-lg"></ng-icon> Mi Perfil
          </a>
          <div class="border-t border-gray-100 hidden md:block"></div>
          <button
            (click)="handleLogout()"
            class="cursor-pointer w-full text-left flex items-center gap-3 px-4 pt-2 pb-3 text-sm text-red-600 hover:bg-gray-100 transition-colors"
          >
            <ng-icon name="bootstrapBoxArrowRight" class="text-lg"></ng-icon>
            Cerrar Sesión
          </button>
        </div>
      }
    </div>
  </div>
</header>
