<div
  class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-4 mb-6 mx-4 lg:mx-0"
>
  <h1 class="text-2xl font-bold text-[#3d4494]">Gestión de Administradores</h1>

  <div class="flex flex-col lg:flex-row gap-3 w-full lg:w-auto">
    <div class="w-full lg:w-72">
      <app-search-input [(query)]="searchQuery" placeholder="Buscar administrador..."></app-search-input>
    </div>

    <app-create-entity-button
      label="Administrador"
      (clicked)="onAdd.emit()"
    ></app-create-entity-button>
  </div>
</div>
