<div class="container">
  <h1>Gestión de usuarios</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (usuario of usuarios; track $index) {
      <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.password }}</td>
        <td>{{ usuario.email }}</td>
        <td class="btn-actions">
          <!-- Icono de Editar -->
          <button class="btn btn-edit" (click)="openModal('edit', usuario)">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <!-- Icono de Eliminar -->
          <button class="btn btn-delete" (click)="deleteUsuario(usuario.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="btn-add-container">
    <button class="btn btn-add" (click)="openModal('add')">
      Agregar Usuario
    </button>
  </div>
</div>

<!-- VENTANA MODAL -->
<div class="modal" [class.show]="isModalOpen" role="dialog" aria-modal="true">
  <div class="modal-content">
    <h2>
      {{ modalMode === "add" ? "Agregar Usuario" : "Editar Usuario" }}
    </h2>
    @if(errorMessage){
    <div class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
    }
    <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
            name="nombre"
            [ngClass]="{
              'is-invalid':
                hasErrors('nombre', 'required') ||
                hasErrors('nombre', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('nombre', 'required')) {
            <div class="text-danger">El nombre es obligatorio.</div>
            } @if (hasErrors('nombre', 'pattern')) {
            <div class="text-danger">El formato del nombre es inválido.</div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            formControlName="apellido"
            name="apellido"
            [ngClass]="{
              'is-invalid':
                hasErrors('apellido', 'required') ||
                hasErrors('apellido', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('apellido', 'required')) {
            <div class="text-danger">El apellido es obligatorio.</div>
            } @if (hasErrors('apellido', 'pattern')) {
            <div class="text-danger">El formato del apellido es inválido.</div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input
            type="text"
            class="form-control"
            id="telefono"
            formControlName="telefono"
            name="telefono"
            [ngClass]="{
              'is-invalid':
                hasErrors('telefono', 'required') ||
                hasErrors('telefono', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('telefono', 'required')) {
            <div class="text-danger">El telefono es obligatorio.</div>
            } @if (hasErrors('telefono', 'pattern')) {
            <div class="text-danger">El formato del telefono es inválido.</div>
            }
          </div>
        </div>

        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input
            type="text"
            class="form-control"
            id="usuario"
            formControlName="usuario"
            name="usuario"
            [ngClass]="{
              'is-invalid':
                hasErrors('usuario', 'required') ||
                hasErrors('usuario', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('usuario', 'required')) {
            <div class="text-danger">El usuario es obligatorio.</div>
            } @if (hasErrors('usuario', 'pattern')) {
            <div class="text-danger">El formato del usuario es inválido.</div>
            }
          </div>
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            name="password"
            [ngClass]="{
              'is-invalid':
                hasErrors('password', 'required') ||
                hasErrors('password', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('password', 'required')) {
            <div class="text-danger">La contraseña es obligatoria.</div>
            } @if (hasErrors('password', 'pattern')) {
            <div class="text-danger">
              El formato de la contraseña es inválido.
            </div>
            }
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            name="email"
            [ngClass]="{
              'is-invalid':
                hasErrors('email', 'required') || hasErrors('email', 'email')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('email', 'required')) {
            <div class="text-danger">El email es obligatorio.</div>
            } @if (hasErrors('email', 'email')) {
            <div class="text-danger">El formato del email es inválido.</div>
            }
          </div>
        </div>

        <div class="modal-actions">
          <button
            type="submit"
            class="btn btn-submit"
            [disabled]="!formUsuario.valid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-cancel" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
