@if (status().isPaused) {
  <div [class]="status().classes">
    <span class="uppercase tracking-wider">Publicación pausada</span>
  </div>
} @else if (status().isOutOfStock) {
  <div [class]="status().classes">
    <span class="uppercase tracking-widest">Agotado</span>
    @if (mode() === "banner") {
      <span class="ml-1 font-medium">(temporalmente)</span>
    }
  </div>
} @else if (showStock() && productStock() > 0) {
  <div [class]="status().classes">
    <span class="font-bold">Stock Disponible:</span>
    {{ productStock() }} unidades
  </div>
}
