<div class="flex h-screen bg-gray-50 font-sans overflow-hidden">
  <app-sidebar
    [sidebarOpen]="sidebarOpen()"
    [mobileMenuOpen]="mobileMenuOpen()"
    (toggleMobileMenu)="toggleMobileMenu()"
  />

  <main class="flex-1 flex flex-col h-full overflow-hidden relative w-full">
    <app-navbar
      (toggleMobileMenu)="toggleMobileMenu()"
      (toggleSidebar)="toggleSidebar()"
    />

    <div
      class="flex-1 overflow-auto px-4 py-4 md:p-6 lg:p-8 bg-gray-50 relative w-full"
    >
      <router-outlet />
    </div>
  </main>
</div>
