<div class="flex items-center justify-start lg:justify-center gap-3">
  <button
    type="button"
    (click)="onEdit.emit(item())"
    aria-label="Editar"
    class="cursor-pointer text-blue-600 hover:text-blue-900 transition-colors flex items-center justify-center"
    title="Editar"
  >
    <ng-icon name="bootstrapPencilSquare" class="text-xl"></ng-icon>
  </button>

  <button
    type="button"
    (click)="onDelete.emit(item())"
    aria-label="Eliminar"
    class="cursor-pointer text-red-600 hover:text-red-900 transition-colors flex items-center justify-center"
    title="Eliminar"
  >
    <ng-icon name="bootstrapTrash" class="text-xl"></ng-icon>
  </button>
</div>
