PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=laelsi

# Seguridad: Clave para firmar los Tokens (JWT)
# En producción, usar una cadena larga y aleatoria.
JWT_SECRET=desarrollo_local_secret_key_123
JWT_REFRESH_SECRET=desarrollo_local_secret_key_123

# NOTA:
# 1. Copia este archivo y renombralo a .env
# 2. Define las variables según tu configuración local.