@if (show()) {
  <button
    type="button"
    (click)="toggleVisible()"
    [attr.aria-label]="visible() ? 'Ocultar contraseña' : 'Mostrar contraseña'"
    class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-[#3d4494] focus:outline-none transition-colors flex items-center justify-center p-1 rounded-full"
  >
    @if (visible()) {
      <ng-icon name="bootstrapEye" class="text-xl"></ng-icon>
    } @else {
      <ng-icon name="bootstrapEyeSlash" class="text-xl"></ng-icon>
    }
  </button>
}
