<div class="animate-fadeIn container mx-auto">
  <app-orders-toolbar
    [(searchQuery)]="searchQuery"
    [(statusFilter)]="statusFilter"
    [(deliveryMethodFilter)]="deliveryMethodFilter"
    [(paymentMethodFilter)]="paymentMethodFilter"
  />

  <app-orders-list
    class="mt-6 block"
    [orders]="ordersFiltered()"
    [isFilterActive]="filtersActive()"
    (onUpdateStatus)="handleUpdateStatus($event)"
    (onUpdateDelivery)="handleUpdateDelivery($event)"
    (onCancel)="handleCancel($event)"
    (onViewDetails)="openOrderDetail($event)"
  />

  <app-pagination
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (pageChange)="onPageChange($event)"
  />
</div>

@if (selectedOrderForModal()) {
  <app-order-detail-modal
    [order]="selectedOrderForModal()!"
    [showClientInfo]="true"
    (close)="closeOrderDetail()"
    (onCancel)="handleCancel($event); closeOrderDetail()"
  />
}
