<div class="toolbar-container">
  <h1 class="page-title">Gestión de Categorías</h1>

  <div class="flex flex-col lg:flex-row gap-3 w-full lg:w-auto">
    <div class="w-full lg:w-72">
      <app-categories-search-bar
        [(searchQuery)]="searchQuery"
      ></app-categories-search-bar>
    </div>

    <div class="grid grid-cols-2 lg:flex gap-3 w-full lg:w-auto">
      <div
        class="col-span-2 lg:col-span-1 flex items-center justify-center lg:justify-start"
      >
        <button
          class="cursor-pointer flex items-center justify-center gap-2 px-4 h-10 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 transition-colors w-full lg:w-auto"
          (click)="showOrderModal.set(true)"
        >
          <ng-icon
            name="bootstrapArrowDownUp"
            class="text-gray-500 text-base"
          ></ng-icon>
          Ordenar
        </button>
      </div>

      <div class="relative col-span-1 lg:w-auto w-full">
        <app-categories-filter-button
          [(statusFilter)]="statusFilter"
          [(stockFilter)]="stockFilter"
          class="w-full block"
        ></app-categories-filter-button>
      </div>

      <div class="col-span-1 lg:w-auto w-full">
        <app-create-entity-button
          class="w-full block"
          label="Categoría"
          (clicked)="onAdd.emit()"
        ></app-create-entity-button>
      </div>
    </div>
  </div>
</div>

<app-categories-order-modal
  [(isOpen)]="showOrderModal"
  (onSaved)="onOrderChange.emit()"
></app-categories-order-modal>
