<div class="toolbar-container">
  <app-toolbar-title title="Órdenes"></app-toolbar-title>

  <div class="flex flex-col lg:flex-row gap-3 w-full lg:w-auto">
    <div class="w-full lg:w-73">
      <app-search-input
        [(query)]="searchQuery"
        placeholder="Buscar por cliente o ID de orden..."
      ></app-search-input>
    </div>

    <!-- Filtros -->
    <div class="flex w-full lg:w-auto">
      <app-orders-filter-button
        [(statusFilter)]="statusFilter"
        [(deliveryMethodFilter)]="deliveryMethodFilter"
        [(paymentMethodFilter)]="paymentMethodFilter"
      ></app-orders-filter-button>
    </div>
  </div>
</div>
