<footer class="bg-[#3d4494] py-8 text-white">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <div class="mb-3">
        <h4 class="mb-4 text-xl font-bold text-[#f4abac]">
          Horarios de atención
        </h4>
        <div class="mb-2 flex items-center gap-2">
          <ng-icon
            name="bootstrapClock"
            class="text-lg text-[#f4abac]"
          ></ng-icon>
          <p>{{ horario1Signal() }}</p>
        </div>
        <div class="flex items-center gap-2">
          <ng-icon
            name="bootstrapClock"
            class="text-lg text-[#f4abac]"
          ></ng-icon>
          <p>{{ horario2Signal() }}</p>
        </div>
      </div>

      <div class="mb-3">
        <h4 class="mb-4 text-xl font-bold text-[#f4abac]">
          Enlaces de Interés
        </h4>
        <nav>
          <ul class="space-y-2">
            <li>
              <a
                routerLink="/about-us"
                class="cursor-pointer transition-colors hover:text-[#f4abac] hover:underline"
              >
                ¿Quiénes somos?
              </a>
            </li>
            <li>
              <a
                routerLink="/faq"
                class="cursor-pointer transition-colors hover:text-[#f4abac] hover:underline"
              >
                Preguntas Frecuentes (FAQ)
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="mb-3">
        <h4 class="mb-4 text-xl font-bold text-[#f4abac]">Contacto</h4>

        <div class="mb-4 flex gap-4">
          <a
            class="cursor-pointer transition-colors hover:text-[#f4abac] hover:scale-110 transform duration-200"
            href="https://www.instagram.com/laelsi.ros/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ng-icon name="bootstrapInstagram" class="text-2xl"></ng-icon>
          </a>

          <a
            class="cursor-pointer transition-colors hover:text-[#f4abac] hover:scale-110 transform duration-200"
            href="https://wa.me/5493417121860"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ng-icon name="bootstrapWhatsapp" class="text-2xl"></ng-icon>
          </a>
        </div>

        <p class="mt-2 flex items-start gap-2 text-sm md:text-base">
          <ng-icon
            name="bootstrapGeoAlt"
            class="text-xl shrink-0 mt-0.5 text-[#f4abac]"
          ></ng-icon>
          <span>9 de Julio 2325, Rosario (2000), Santa Fe, Argentina</span>
        </p>
      </div>
    </div>
  </div>
</footer>
